.myButton {
color: rgb(255, 255, 255);
font-size: 20px; 
line-height: 20px; 
padding: 6px; 
border-radius: 10px; 
font-family: Georgia, serif; 
font-weight: normal; 
text-decoration: none; 
font-style: normal; 
font-variant: normal; 
text-transform: none; 
background-image: linear-gradient(rgb(225, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(225, 0, 0) 100%); 
box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px 0px; 
display: inline-block;
}




button {
        background-color: #000;
        border: .5px solid crimson;
        border-radius: 10px;
        color: #fff;
        padding: 8px;
        box-shadow: 0 0 30px 0 darkred;
                    0 0 30px 0 blue;
                    0 0 10px 0 blue inset; 
        }


        .GFG {
            width: 100px;
            height: 100px;
            margin-left: 0px;
            border-radius: 10%;
        }
          

         .gallery {
            display: flex;
            width: 840px;
            gap: 5px;
        }


        .gallery img {
            height: 210px;
            flex: 1;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
            cursor: pointer;
        }


        .gallery img:hover {
            flex: 2;
        }







